.user-info-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.user-info-popup h2 {
  margin-top: 0;
}

.user-info-popup form {
  display: flex;
  flex-direction: column;
}

.user-info-popup label {
  margin: 10px 0 5px;
}

.user-info-popup input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

.user-info-popup button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.login-popup,
.user-info-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.login-popup h2,
.user-info-popup h2 {
  margin-top: 0;
}

.login-popup form,
.user-info-popup form {
  display: flex;
  flex-direction: column;
}

.login-popup label,
.user-info-popup label {
  margin: 10px 0 5px;
}

.login-popup input,
.user-info-popup input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

.login-popup button,
.user-info-popup button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.user-info {
  background-color: aliceblue;
}
